* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: ubuntu, sans-serif;
  /* background: #24252a; */
  /* color: #fff; */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  height: 30vh;
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;
  align-items: center;
}

/* For Username */
.Username {
  /* border: 1px solid; */
  position: relative;
  height: 45px;
  width: 40%;
  overflow: hidden;
}

.Username input {
  width: 100%;
  height: 100%;
  border: none;
  color: skyblue;
  padding-top: 20px;
  outline: none;
}

.Username label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.Username label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-bottom: 3px solid skyblue;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.User-content {
  position: absolute;
  bottom: 5px;
  transition: all 0.3s ease;
}

.Username input:focus + .User-label .User-content,
.Username input:valid + .User-label .User-content {
  transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
}

.Username input:focus + .User-label::after,
.Username input:valid + .User-label::after {
  transform: translateX(0%);
}

/* For Password */

.Password {
  /* border: 1px solid; */
  width: 40%;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.Password input {
  width: 100%;
  height: 100%;
  color: rgb(52, 133, 165);
  padding-top: 20px;
  border: none;
  outline: none;
}

.Password label {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.Password label::after {
  content: "";
  position: absolute;
  border-bottom: 3px solid skyblue;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -1px;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.pass-content {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
}

.Password input:focus + .pass-label .pass-content,
.Password input:valid + .pass-label .pass-content {
  transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
}

.Password input:focus + .pass-label::after,
.Password input:valid + .pass-label::after {
  transform: translateX(0);
}

button {
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  color: #3498db;
  transition: all 0.7s ease;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  color: #fff;
}

.btn::before {
  content: "";
  position: absolute;
  /* border: 1px solid black; */
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn:hover::before {
  height: 180%;
}
